*{
    font-family: 'Archivo', sans-serif;
    font-style: normal;
}
body{
    background-image: url(../img/bg.jpg);
    background-size: contain;
}

header{
    width: auto;
    height: 60px;
    color: cornsilk;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding: 1%;

}

#cabecalho{
    margin-left: 5%;
    width: 80%;
    text-align: center;

}

.icones{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

nav{
    margin-right: 5%;
    width: 100%;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;

}


.icones nav ul li a{
    color: cornsilk;
    transition: all 0.5s;
}
.icones nav ul li a:hover{
    color: #FDCD00;
    
}

main{
    margin: 25px;
    
    
    
}

label{
    margin-right: 5px;
}

.input_botao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.input_botao button{
    border-radius: 5px;
    margin-left: 5px;
   transition-duration: 1s;
}
.input_botao button:hover{
    background: #FDCD00;
   
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    
}

#textoInicial{
    margin-top: 10px;
    font-size: 30px;
}

#titulo{
    text-align: center;
    font-size: 30px;
}

#texto{
    margin-top: 15px;
    text-align: justify;
}

.infoFoto{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#autor{
    margin-top: 10px;
}

#foto{
    margin-top: 10px;
    width: auto;
    height: 400px;
}

footer{
    width: auto;
    height: 60px;
    color: cornsilk;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding: 1%;

}

