@media (max-width: 600px)
{

    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    main{
        margin: 25px;
        height: 100%;
        
        
    }

    
    #cabecalho{
        font-size: 20px;
        margin-left: 2%;
        width: 50%;
        text-align: center;
    
    }
    nav{
        margin-right: 2%;
        width: 100%;
    }

    .input_botao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px;
    }
    
    .icones{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    #textoInicial{
        font-size: 20px;
        text-align: center;
    }

    #tradutor{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    #foto{
        width: 300px;
        height: auto;
    }

    footer{
        width: auto;
        height: 60px;
        color: cornsilk;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #0f0f0f;
        padding: 1%;
    
    }
}