@media (max-width: 600px)
{

    main{
        margin: 25px;
        height: 100%;
        
        
    }

    
    #cabecalho{
        font-size: 25px;
    
    }

    #cabecalho{
        margin-left: 5%;
        width: 50%;
        text-align: center;
    
    }

    .input_botao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px;
    }
    
    .icones{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    #textoInicial{
        font-size: 20px;
        text-align: center;
    }

    #tradutor{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    #foto{
        width: 300px;
        height: auto;
    }
}